<h1 class="heading"><strong>HTTPClient </strong> Example</h1>
<div>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">Name: </label>
        <input [(ngModel)]="person.name">
    </div>
    <div>
        <button (click)="createPerson()">Add</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="col-1">ID</th>
            <th class="col-1">Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of people">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
    </tbody>
</table>